<h1>Clientes</h1>

<hr>

<a class="btn btn-primary mb-3" [routerLink]="['/clientes/nuevo']" role="button">Nuevo Cliente</a>

<dl class="row">
  <dt class="col-sm-3">Promedio de Edad</dt>
  <dd class="col-sm-9">{{info.average| number}}</dd>

  <dt class="col-sm-3">Desviacion Estandar</dt>
  <dd class="col-sm-9">{{info.deviation | number}}</dd>
</dl>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Edad</th>
      <th scope="col">Fecha de Nacimiento</th>
      <th scope="col">Probable Muerte *</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{customer.firstName}}</td>
      <td>{{customer.lastName}}</td>
      <td>{{customer.age}}</td>
      <td>{{customer.dob | date}}</td>
      <td>{{customer.death | date}}</td>
    </tr>
    <tr>
  </tbody>
</table>

<p class="font-italic">* Considerando el promedio de esperanza de vida en América Latina de 71 años y 6 meses</p>
