<h1>Nuevo Cliente</h1>

<br>

<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">

  <div class="form-group row">
    <label for="firstName" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="firstName" formControlName="firstName"
        [ngClass]="{'is-invalid' : isInvalidControl('firstName')}">
    </div>
  </div>

  <div class="form-group row">
    <label for="lastName" class="col-sm-2 col-form-label">Apellido</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="lastName" formControlName="lastName"
        [ngClass]="{'is-invalid' : isInvalidControl('lastName')}">
    </div>
  </div>

  <div class="form-group row">
    <label for="dob" class="col-sm-2 col-form-label">Fecha de Nacimiento</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="dob" formControlName="dob"
        [ngClass]="{'is-invalid' : isInvalidControl('dob')}">
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Agregar</button>
      <a [routerLink]="['/clientes']" class="btn btn-secondary ml-3">Retornar</a>
    </div>
  </div>

</form>
